<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon">menu</mat-icon>
    <span>Example Portal</span>
    <span class="example-spacer"></span>

    <a
      mat-icon-button
      class="example-icon favorite-icon mr-100" href="/login" routerLink="login" routerLinkActive="active"> Login</a>

    <a
      mat-icon-button
      class="example-icon favorite-icon mr-100" href="/signup" routerLink="signup" routerLinkActive="active"> Register</a>
  </mat-toolbar-row>
</mat-toolbar>
